<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/create.css">
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
    <title>Create | TaskAssigner</title>
</head>

<body>
    <div class="nav">
        <div class="nav-start">
            <img src="{{ url_for('static', filename='favicon.png') }}" alt="">
            <a href="/">TaskAssigner</a>
        </div>
        <div class="nav-mid">
            <a href="#">FAQ</a>
            <a href="#" class="tour">Tour</a>
            <a href="/">Dashboard</a>
        </div>
        <div class="nav-end">
            <a href="#">Cradits</a>
            <i class="fa fa-bell-o"></i>
            <button>Join</button>
        </div>
    </div>
    <div class="status">
        <div class="close"><i class="fa fa-qrcode"></i></div>
        <h2>Status</h2>
        <div class="t_status">
            <p class="t_val">{{total}}</p>
            <p class="t_name">Total Tasks</p>
        </div>
        <div class="t_status">
            <p class="t_val">{{dues}}</p>
            <p class="t_name">Due Tasks</p>
        </div>
        <div class="t_status">
            <p class="t_val">{{subd}}</p>
            <p class="t_name">Submitted</p>
        </div>
    </div>
    <div class="container">
        <div class="create">
            <div class="create-box" onclick="enableform(this)">
                <img src="static/create.jpg" alt="">
                <h2> <i class="fa fa-plus"></i>Create new Task</h2>
            </div>
            <form action="/create" method="post" id="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="people">
                    <label for="person">Select Person name</label>
                    <select class="person dropdown js-states form-control" id="person" name="person">
                        <option></option>
                        <option value="Tirtharaj">Tirtharaj</option>
                        <option value="Anurag">Anurag</option>
                        <option value="Sayan">Sayan</option>
                        <option value="Binit">Binit</option>
                        <option value="Ayas">Ayas</option>
                        <option value="Ayan">Ayan</option>
                        <option value="suman">Suman</option>
                        <option value="Rakesh">rakesh</option>
                        <option value="Subhradwip">Subhradwip</option>
                        <option value="satya">satya</option>
                    </select>
                </div>

                <div class="works">
                    <label for="task">Assign task for assignee</label>
                    <select class="task dropdown js-states form-control" id="task" name="task">
                        <option></option>
                        <option value="Essay">Essay</option>
                        <option value="programming">programming</option>
                        <option value="Project">Project</option>
                        <option value="finantial">finantial</option>
                        <option value="Teaching">Teaching</option>
                    </select>
                </div>

                <button type="submit" id="submit"></button>
            </form>
        </div>

        <div class="task-cards">
            <h2><i class="fa fa-get-pocket"></i> Tasks Bucket <br><span>- your Tasks appear here.</span></h2>
            <div class="empty-box">
                <img src="static/empty-box.png" alt="">
                <h2> <i class="fa fa-glass"></i>No Task Created</h2>
            </div>
            {% for dt in data %}

            <div class="card">
                <div class="left-block">
                    <p class="card-all"> <span>{{dt.task}}</span> task - Assigned to <span>{{dt.person}}</span></p>
                    <p class="card-date">Created on <span>{{dt.date}}</span> </p>
                </div>
                <div class="right-block">
                    <p class="card-type"><i class="fa fa-dot-circle-o sticon"></i><span class="sts">{{dt.submit}}</span>
                    </p>
                    <a href="/submit?id={{dt.id}}&del=True" class="delbtn">Clear Task</a>
                    <a href="/submit?id={{dt.id}}" class="subbtn">Submit Now</a>
                </div>
            </div>
            {% endfor %}


        </div>

        <div class="confermation" id="conf">
            <div class="cbox">
                <p>Do you want to continue with these options?</p>
                <div class="btns">
                    <button id="yes" onclick="conf('yes')">Yes</button>
                    <Button id="no" onclick="conf('no')">No</Button>
                </div>
            </div>
        </div>




    </div>
    <footer>
        <h2>TaskAssigner</h2>
        <p><i class="fa fa-code" style="color:sandybrown"></i>by @tirtharajSinha. Made with <i class="fa fa-heart"
                style="color:tomato"></i> <br></div> Build using <img src="static/flask.png" alt=""></i></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.person').select2({
                placeholder: "Select a assignee",
                allowClear: true,
                tags: true,

            });
            $('.task').select2({
                placeholder: "Select a task for assignee",
                allowClear: true,
                tags: true,

            });

            let isperson = false;
            let istask = false;

            $('#person').on('select2:select', function (e) {
                isperson = true;
                console.log("assignee selected")
                checked();
            });

            $('#task').on('select2:select', function (e) {
                istask = true;
                console.log("task selected")
                checked();
            });

            function checked() {
                if (isperson && istask) {
                    console.log("both selected")

                    setTimeout(() => {
                        document.getElementById("conf").style.display = "flex"
                    }, 1000);
                }
            }




        });

        function conf(state = "") {
            if (state == "yes") {
                setTimeout(() => {
                    document.getElementById("submit").click();
                }, 1000);
            }
            else if (state == "no") {
                document.getElementById("conf").style.display = "none"
            }
        }
        checksbmitted();
        function checksbmitted() {
            boxs = document.getElementsByClassName("card-type");
            for (var i = 0; i < boxs.length; i++) {
                var text = boxs[i].getElementsByClassName("sts")[0];
                console.log(text);
                if (text.innerHTML == "Submitted") {
                    document.getElementsByClassName("subbtn")[i].style.display = "none";
                    document.getElementsByClassName("delbtn")[i].style.display = "block";
                }
                else {
                    boxs[i].getElementsByClassName("sticon")[0].style.color = "red";
                }
            }
            if (boxs.length == 0) {
                document.getElementsByClassName("empty-box")[0].style.display = "flex";
            }
        }
        function enableform(elem) {
            elem.style.display = "none";
            document.getElementById("form").style.display = "flex";
        }




    </script>
</body>

</html>